@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Poppins&family=Roboto&display=swap');

/* General styles */

:root {
    --primary:  #00563B;
    --secondary: #78f3b8;
    --alterOne:     #808000;
    --alterTwo: #4f534f;
    --light: #92f1c3;
    --primary-trans: #00563be3;
  }

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
}

#img-container{
  max-height: 520px!important;

}

.paragraph-container{
  line-height: 27.5px;
  text-align: justify;
  text-transform: none;
}

#contact-container{
  min-height: 75vh;
}

.contact-div{
  text-transform: uppercase;
}

.container-main-color{
background-image: linear-gradient(100deg, var(--primary) 0%, var(--secondary) 100%);
color: #fff;
}



.hr-primary{
border: 1px solid var(--primary);
max-width: 220px;
}

.hr-primary.long{
  max-width: 440px;

}

.paragraph-title{
  font-weight: bold;
}


.card{
max-width: 350px;
min-width: 200px;
border: 0px;
}

.card-body{
  border: 2px solid  var(--primary);
  border-top: 0px;
}

/* Navbar */

.navbar-nav > li{
    padding-left:30px;    
    padding-right:30px;
    margin: 0 auto;
    color: #fff!important;
  }

  #navbar-main{
    background-color: var(--primary)!important;
    color: #fff!important;
  }

 .nav-link{
     color: #fff!important;
     text-transform: uppercase;
     letter-spacing: 4px;
     font-weight: bold;
     transition: all 0.8s ease !important;
 }

 .navbar-brand{
    font-family: 'Cinzel Decorative', cursive!important;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff!important;

 }

 .nav-link.active{
  color: var(--secondary)!important ;
}
 .nav-link:hover{
   color: var(--light)!important ;
 }

/* Button  */

.btn-custom{
  background-color: var(--primary-trans);
  color: #fff;
  transition: all 1.3s ease !important;      
}

.btn-custom:hover{
  background-color: var(--primary);
  color: #fff;

}

/* Form styles */

.form-control{
  max-width: 300px;
}

/* Caraousel styles */

.carousel-caption{
  background-color: rgba(44, 44, 44, 0.431);
  color: #fff;
}


/* Map styles */

#gmap_canvas{
  height: 500px;
  width: 499px;
  margin: 0;
  padding: 0;
  border: 0;
  }

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    max-height: 500px;
    max-width: 499px;
} 
.mapouter {
  position: relative;
  text-align: right;
  max-height: 500px;
  max-width: 499px;
}

/* Hero */

#hero{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), 
   url(images/cover.png);
  background-position: center;
  background-size: cover; 
}

.hero-container{
  color: #fff!important;
}